<ion-view hide-back-button="true" cache-view="false" hide-nav-bar="true">
  <ion-content class="padding" style="text-align: center;">
    
    <div class="padding"></div>

    <img src="img/logo.png">

    <div class="padding"></div>
    <div class="padding"></div>

<div class="list">
  <label class="item item-an item-input">
    <input type="text" placeholder="Enter your Email Address" ng-model="email">
  </label>
</div>

    <div class="padding"></div>
    
    <button class="button button-block button-red" ng-click="sendPasswordResetEmail(email)">Reset Password</button>
    
    <div class="padding"></div>

    <p class="word">Don't have an account? <a ui-sref="signup" class="red-color"><strong>Sign Up</strong></a></p>
    
    <div class="padding"></div>

    <p class="muted">Powered by <strong>Beepsuite</strong></p>

  </ion-content>
</ion-view>