<ion-view hide-back-button="true" cache-view="false" hide-nav-bar="true">
  <ion-content class="padding" style="text-align: center;">
    
    <div class="padding"></div>

   <!-- <img src="img/logo.png"> -->

    <div class="padding"></div>
    <div class="padding"></div>

<div class="list">
  <label class="item item-an item-input">
    <input type="text" placeholder="Enter your Email Address" ng-model="email">
  </label>
  <label class="item item-an item-input">
    <input type="password" placeholder="Enter your Password" ng-model="password">
  </label>
</div>

    <div class="padding"></div>
    
    <button class="button button-block button-red" ng-click="signin()"> SIGN IN </button>
    
    <div class="padding"></div>

    <p class="word">Forgot Password? <a ui-sref="forgotpassword" class="red-color"><strong>Click Here</strong></a></p>

    <div class="padding"></div>

    <p class="word">Don't have an account? <a ui-sref="signup" class="red-color"><strong>Sign Up</strong></a></p>
    
    <div class="padding"></div>

    <p class="muted">Powered by <strong>Beepsuite</strong></p>

  </ion-content>
</ion-view>