/* Empty. Add your own CSS if you like */
.go-left {
	float:left;
}

.button-red {
	color: white;
	background-color: #B22222;
}

.red-color {
	color: #B22222;
	text-decoration: none;
}

.upvotes {
	color: #B22222;
	font-size: 12px;
}

.name {
	color: #777;
	font-weight: 40 !important;
	font: 14px !important;
}

.datentime {
	float: right;
	font-weight: bold;
	font-size: 14px !important;
}

.archived {
	float: right;
	font-size: 14px !important;
	color: red;
	font-weight: bold;
}

.completed {
	float: right;
	font-weight: bold;
	color: green;
	font-size: 14px !important;
}

.inprogress {
	float: right;
	font-size: 14px !important;
	color: blue;
	font-weight: bold;
}

.inprogress-page {
	text-align: center;
	font-size: 14px !important;
	color: blue;
	font-weight: bold;
}

.admin {
	float: left;
	color: #B22222;
}

.admin-blue {
	float: left;
	color: blue;
}

.button-positive {
	background-color: #B22222 !important;
}

.list-head {
	font-weight: bold;
}

.button:hover {
	color: white !important;
}

.button.activated {
	background-color: #B22222;
}

.tabs-striped.tabs-background-positive .tabs {
	background-color: #B22222 !important ;
}

.edit {
	color: white;
	font-size: 1em;
	float: right;
}

.header-details {
	background-color: #B22222;
	color: white;
	background-image: none !important;
	border-color: #B22222;
}

.button-clear.button-clear {
	color: white !important;
	padding-top: -20px !important;
}

.bar {
	background-image: none !important;
	border-color: #B22222 !important;
}

[nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
	border-color: #B22222;
}

@media (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .bar {
      background-image: linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%);
      background-position: bottom;
      background-size: 100% 1px;
      background-repeat: no-repeat;
      background-color: #B22222 !important;
    } 
}

.header-item {
	font-size: 1em !important;
	right: 0px !important;
	left: 0px !important;

}

.vertical-icon {
	padding: 10px;
	font-size: 30px;
	color: white;
}

.list-an {
	border-color: #eee !important;

}

.tabs-text {
	font-size: 14px !important;
}

.white-text {
	color: white;
	font-weight: bold !important;
	font-size: 26px !important;
	padding: 20px !important;
}

.no-top {
	top: 0px !important;
}

.bar .title.title-left {
	text-align: none !important;
}

.relative {
	position: relative;
}

.tabs-background-positive .tabs, .tabs-background-positive > .tabs {
	border-color: #B22222;
}

.item-an {
	border-color: transparent !important;
}

/*.background-image {
    background-image: url('/img/mica_background.png');
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;
}*/

.left {
	text-align: left;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
	font-size: 14px;
	color: black;
}

input[placeholder] {
	font-size: 14px;
}

.word {
	font-size: 14px;
}

.muted {
	font-size: 14px;
	color: #777;
}

textarea {
    resize: none;
}